<h1>
  <%= @flat.name %>
</h1>

<h3>
  <%= @flat.address %>
</h3>

<p>
  <%= @flat.description %>
</p>

<p>
  <%= @flat.number_of_guests %>
</p>

<%= @flat.price_per_night %>
<%= link_to "Back to flats", flats_path %>
<%= link_to "Update this flat", edit_flat_path(@flat) %>
<%= link_to 'Delete', flat_path(@flat), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>
